.chapter-complete {
    background-color: grey;
    width: 200px;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}