.centre-row {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
   
}