<div class="player-board">
    <div>
        <div class="hand">
            <p>Player hand</p>
            <app-profession-card *ngFor="let card of hand" [professionCard]="card"></app-profession-card>
        </div>
        <div class=guildhall>
            <div>
                <p>Incomplete chapters</p>
                <app-chapter-incomplete *ngFor="let chapter of incompleteChapters" [incompleteChapter]="chapter"></app-chapter-incomplete>
            </div>
            <div>
                <p>Complete chapters</p>
            </div>
        </div>
    </div>
    <div>
        <p>
            VP Area
        </p>
    </div>
</div>
