.player-board {
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;

    span {
        font-weight: 700;
    }

    .hand {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .hand-card {
            margin: 2px;
        }
    }

    .guildhall {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div.card-row {
            display: flex;
            flex-direction: row; 
            justify-content: flex-start;
        }

        .chapter {
            margin: 2px;
        }
    }

    .vp-area {
        border: 2px solid grey;
    }
}