.player-board {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .hand {
        border: 2px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .guildhall {
        border: 2px solid green;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div.card-row {
            display: flex;
            flex-direction: row; 
            justify-content: flex-start;
            
            // div {
            //     padding: 0 2px;
            // }
        }
    }

    .vp-area {
        border: 2px solid grey;
    }
}