.vp-card {
  width: 200px;
  height: 200px;
  background-color: rgb(194, 194, 194);
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  
    p {
        margin: 0 auto;
    }
}