<div class="opponent-board">
    <div class="upper-area">
        <div>
            <p>{{name}}</p>
            <p>Hand: {{hand.length}} cards</p>
            <p>Completed chapters: {{completeChapters.length}} </p>
        </div>
        <div class="vp-area">
            <p>VP Area</p>
            <div class="claimed-cards">
                <app-claimed-vp-card *ngFor="let card of VPArray" [VPCard]="card" class="card"></app-claimed-vp-card>
            </div>
            <div class="score">
                <p>VP tokens: {{victoryTokens}} </p>
                <p>Total VP: {{score}}</p>
            </div>
        </div>
    </div>

    <div class="guildhall">
        <app-chapter-incomplete *ngFor="let chapter of incompleteChapters" [incompleteChapter]="chapter" class="chapter"></app-chapter-incomplete>
    </div>
</div>
