<div class="opponent-board">
    <div class="upper-area">
        <div>
            <p><span>{{opponent.name}}</span></p>
            <p>Hand: <span>{{opponent.hand.length}} cards</span></p>
            <p>Completed chapters: <span>{{opponent.completeChapters.length}}</span></p>
        </div>
        <div class="vp-area">
            <p>VP Area</p>
            <div class="claimed-cards">
                <app-claimed-vp-card *ngFor="let card of opponent.VPArray" [VPCard]="card" class="card"></app-claimed-vp-card>
            </div>
            <div class="score">
                <p>VP tokens: <span>{{opponent.victoryTokens}}</span> </p>
                <p>Total VP: <span>{{getTotalScore()}}</span></p>
            </div>
        </div>
    </div>

    <div class="guildhall">
        <app-chapter-incomplete *ngFor="let chapter of opponent.incompleteChapters" [incompleteChapter]="chapter" class="chapter"></app-chapter-incomplete>
    </div>
</div>
