.opponent-board {
    width: 420px;
    border: 2px solid black;
    margin: 2px;

    span {
        font-weight: 700;
    }

    .upper-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;

        .vp-area {
            width: 205px;

            .claimed-cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                
                .card {
                    width: 100px;
                }
            }

            .score {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    .guildhall {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 5px;
        
        .chapter {
            margin: 2px;
        }
    }
}